.post{
    width: 700px;
    background-color: rgb(189, 122, 228);
    color: white;
    border: 3px;
    display:flex;
    flex-direction: column;
    margin:10px;

}
.usuario{
    margin-left: 30px;
}

.texto {
    text-align: justify;
    margin:10px;
}

.likes{
    margin-top: 20px;
    margin:10px;
    color:rgb(83, 0, 131);
}

.bt-like{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -20px;
    width:80px;
    height:50px;
}