.post{
    width: 700px;
    border: 3px;
    display:flex;
    flex-direction: column;
    margin:10px;
    background-color: rgb(206, 91, 162);
    color: white;
    text-align: justify;
    border-radius: 20px;

}
.post td{
    padding: 10px;
}

.post button{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -20px;
    text-align: center;
    border-radius: 10px;
}