.navegador{
    display: flex;
    height: 100px;
    background-color:black;
    
}

img{
    width: 100px;
    display: flex;
    padding: 15px;
    margin-right: 220px;
}


.botao-nav{
    color:white;
    text-decoration: none;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

 .navegador .botao-nav.active {
    background-color: rgb(109, 102, 102);
}

a:hover{
    background-color: white;
    color: black;

}


